*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header{
width: 100%;
float: left;
background-color:#ffffe6;
}
.headcontainer{
  width: 1100px;
  margin: 0 auto;
}
#head_logo{
  width: 100%;
  height: 100%;
}
.logo{
  width: 140px;
  height: 60px;
  display: inline-block;
}
.navigation{
  float: right;
  margin-right: 40px;
}
#nav a{
  text-decoration: none;
  padding: 24px 20px;
  display:block;
  font-size: 0.8em;
}
#nav li{
  list-style-type: none;
  float: left;
}
.mailbox{
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px 0;
}
#mail{
  width: 100%;
  height: 100%;
}
a:hover{
  background: #f2f2f2;
}
.dropdown{
float: left;
}
.dropbtn{
  outline: none;
  border: 0;
background-color: inherit;}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1 ;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.banner{
  background-image: url(images/img-1.jpg);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.coverimage{
  background-color: rgba(0,0,40,0.7);
  width: inherit;
  height: inherit;
}

.content{
  width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#contactus,#discover{
  border-radius: 30px;
  padding: 15px 40px;
  color: white;
  outline: none;
  margin-top: 30px;
}
#contactus{
  background-color: #ffcc00;
  border: solid 1px #ffcc00;
  margin-right: 20px;
}
#discover{
  background-color: rgba(0,0,0,0.1);
  border: solid 2px white;
  margin-left: 20px;
}
#downScroll{
  width: 100%;
  height: 100%;
}
.downscroll{
  /* width: 20px;
  height: 10px;
  margin: 0 auto; */
  height: 10px;
   left: 50%;
   position: absolute;
   top: 90%;
   width: 20px;
}
.intro{
  width: 100%;
  height: 90vh;
  background-color: whte;
  position:relative;
  float: left;
}
.information{
margin-top: 100px;
}
.about{
width:600px;
float: left;
}
#Wallet,#Trophy,#Diamond{
  width: 50px;
  height: 60px;
}
.item li{
  list-style-type: none;
  position: relative;
}
h5{
  position: absolute;
  top: 28px;
  left: 90px;
  float:right;
font-size: 15px;
}

#sideImage{
  width: 100%;
  height: 100%;
}
.sideimage{
width: 50%;
height: 400px;
float: right;}

.about{
width: 50%;
height: 400px
width:450px;
}

.service{
  background-image: url(images/img-2.jpg);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  position: relative;
  float: left;
}
.serviceheading{
  color: white;
  font-size: 2em;
  width:450px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.servicecontent{
  width: 100%;
  margin: 40px 0;
}
.image{
  width: 100%;
  height: 50px;
  display: block;
  padding: 20px 0px}

.digitalMarketing,.webdevelopment,.design{
  color: white;
  width: 33.3%;
  float:left;
}
h6{
  width: 100%;
  text-align: center;
  padding: 14px 0;
}
p{
  margin: 0 20px;
  align-items:center;
}
#servicebutton{
  background-color: #ffcc00;
  border: solid 1px #ffcc00;
  border-radius: 30px;
  padding: 15px 40px;
  color: white;
  outline: none;
  margin: 50px 0;
}
.serviceButton{
  width: 300px;
  margin: 0 auto;
}
.catelog{
  width: 100%;
  height: 90vh;
  float: left;
}
